<mat-tab-group mat-stretch-tabs>
    <mat-tab label="Chicken">
        <div class="ods-mat-tab-content">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <mat-grid-list [cols]="breakpoint" [gutterSize]="'20px'">
                    <mat-grid-tile *ngFor="let item of chicken_ds">
                        <mat-card class="ods-card">
                            <img mat-card-image src="{{item.image_url}}" alt="Chicken">
                            <mat-card-content>
                                <h4>{{item.name}}</h4>
                                <p>{{item.desc}}</p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button color="warn" style="float: left;">&#8377; {{item.price}}</button>
                                <button mat-raised-button color="warn" style="float: right;"
                                    (click)="addToCart(item.product_id, item.price, item.discountedPrice, item.couponApplied)">ADD
                                    TO CART</button>
                            </mat-card-actions>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </mat-tab>
    <mat-tab label="Mutton">
        <div class="ods-mat-tab-content">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <mat-grid-list [cols]="breakpoint" [gutterSize]="'20px'">
                    <mat-grid-tile *ngFor="let item of mutton_ds">
                        <mat-card class="ods-card">
                            <img mat-card-image src="{{item.image_url}}" alt="Muttob">
                            <mat-card-content>
                                <h4>{{item.name}}</h4>
                                <p>{{item.desc}}</p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button color="warn" style="float: left;">&#8377; {{item.price}}</button>
                                <button mat-raised-button color="warn" style="float: right;">ADD TO CART</button>
                            </mat-card-actions>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </mat-tab>
    <mat-tab label="Pork">
        <div class="ods-mat-tab-content">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <mat-grid-list [cols]="breakpoint" [gutterSize]="'20px'">
                    <mat-grid-tile *ngFor="let item of pork_ds">
                        <mat-card class="ods-card">
                            <img mat-card-image src="{{item.image_url}}" alt="Pork">
                            <mat-card-content>
                                <h4>{{item.name}}</h4>
                                <p>{{item.desc}}</p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button color="warn" style="float: left;">&#8377; {{item.price}}</button>
                                <button mat-raised-button color="warn" style="float: right;">ADD TO CART</button>
                            </mat-card-actions>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </mat-tab>
    <mat-tab label="Duck">
        <div class="ods-mat-tab-content">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <mat-grid-list [cols]="breakpoint" [gutterSize]="'20px'">
                    <mat-grid-tile *ngFor="let item of duck_ds">
                        <mat-card class="ods-card">
                            <img mat-card-image src="{{item.image_url}}" alt="Duck">
                            <mat-card-content>
                                <h4>{{item.name}}</h4>
                                <p>{{item.desc}}</p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button color="warn" style="float: left;">&#8377; {{item.price}}</button>
                                <button mat-raised-button color="warn" style="float: right;">ADD TO CART</button>
                            </mat-card-actions>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </mat-tab>
    <mat-tab label="Fish">
        <div class="ods-mat-tab-content">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <mat-grid-list [cols]="breakpoint" [gutterSize]="'20px'">
                    <mat-grid-tile *ngFor="let item of fish_ds">
                        <mat-card class="ods-card">
                            <img mat-card-image src="{{item.image_url}}" alt="Fish">
                            <mat-card-content>
                                <h4>{{item.name}}</h4>
                                <p>{{item.desc}}</p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button color="warn" style="float: left;">&#8377; {{item.price}}</button>
                                <button mat-raised-button color="warn" style="float: right;">ADD TO CART</button>
                            </mat-card-actions>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </mat-tab>
    <mat-tab label="Eggs">
        <div class="ods-mat-tab-content">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <mat-grid-list [cols]="breakpoint" [gutterSize]="'20px'">
                    <mat-grid-tile *ngFor="let item of eggs_ds">
                        <mat-card class="ods-card">
                            <img mat-card-image src="{{item.image_url}}" alt="Eggs">
                            <mat-card-content>
                                <h4>{{item.name}}</h4>
                                <p>{{item.desc}}</p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button color="warn" style="float: left;">&#8377; {{item.price}}</button>
                                <button mat-raised-button color="warn" style="float: right;">ADD TO CART</button>
                            </mat-card-actions>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </mat-tab>
    <mat-tab label="Dairy">
        <div class="ods-mat-tab-content">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <mat-grid-list [cols]="breakpoint" [gutterSize]="'20px'">
                    <mat-grid-tile *ngFor="let item of dairy_ds">
                        <mat-card class="ods-card">
                            <img mat-card-image src="{{item.image_url}}" alt="Dairy">
                            <mat-card-content>
                                <h4>{{item.name}}</h4>
                                <p>{{item.desc}}</p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button color="warn" style="float: left;">&#8377; {{item.price}}</button>
                                <button mat-raised-button color="warn" style="float: right;">ADD TO CART</button>
                            </mat-card-actions>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </mat-tab>
</mat-tab-group>