<footer id="ods-footer">
    <div class="row" style="padding: 20px;">
        <div class="col-md-3 col-sm-6 ods-widget">
            <h4>ABOUT US</h4>
            <p>
                We at Rocery are a small team of young professionals working to provide a seamless "Select" >> "Order"
                >> "Relax" service for Guwahati. We are currently taking orders in select locations in Guwahati(Six
                Mile, Panjabari, VIP Road, Zoo Road, Ganeshguri, Patharquary, Hengarabari). This is pilot and we will
                start expanding to meet the demand.
            </p>
            <div class="text-center">
                <ul class="ods-social-icons">
                    <li><a href="http://instagram.com/rocery.food" target="blank" title="Instagram"><i
                                class="icon-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/rocery.food/" target="blank" title="Facebook"><i
                                class="icon-facebook"></i></a></li>
                    <li><a href="https://twitter.com/rocery.food" target="blank" title="Twitter"><i
                                class="icon-twitter"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-5 col-sm-6 ods-widget">
            <h4>SUBSCRIPTION SERVICES</h4>
            <div>
                <form class="navbar-form navbar-left" action="/action_page.php">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    &nbsp;<button class="btn btn-warning" style="float: right;">SUBSCRIBE</button>
                </form>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 ods-widget">
            <h4>SUPPORT</h4>
            <ul class="ods-footer-links">
                <li><a>Live Chat</a></li>
                <li>Write to: support@rocery.in</li>
                <li><a href="tel://916000325658">WhatsApp: +91-6000325658</a></li>
                <li><a>Feedback</a></li>
            </ul>
        </div>
        <div class="col-md-2 col-sm-6 ods-widget">
            <h4>CONTACT INFORMATION</h4>
            <ul class="ods-footer-links">
                <li>
                    <p>Guwahati, Assam</p>
                    <p><a href="tel://916000325658">WhatsApp: +91-6000325658</a></p>
                    <p><a href="mailto:contact@rocery.in">contact@rocery.in</a></p>
                    <p><a href="#">rocery.in</a></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 footer-company">
            <p style="text-align: center;">
                &copy; 2020 | All rights reserved | rocery.in | <a class="a-ods" href="javascript:void(0);"
                    routerLink="/privacy-policy">Privacy Policy</a>
            </p>
        </div>
    </div>
</footer>