<div class="container regular-container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3><span class="fa fa-thumbs-up"></span> Success</h3>
                </div>
                <div class="panel-body">
                    <h3>{{message}}</h3>
                    <h4 *ngIf="routeLink != null"><a href="javascript:void(0);" routerLink="{{routeLink}}">View</a></h4>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>