<!-- Terms & Conditions -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3><span class="glyphicon glyphicon-hand-right"></span> Terms & Conditions</h3>
                </div>
                <div class="panel-body">
                    <p>
                        Triprhino provide free software service to users for creating blogs as well as a host of
                        value-adding
                        services, as more fully described herein at www.triprhino.com, as such descriptions may be
                        changed by
                        triprhino app from time to time. In order for you to obtain or continue using the services
                        provided by Magic
                        Lens app, you must agree to and accept the terms and conditions of this agreement. Please read
                        this
                        agreements carefully.
                    </p>
                    <ol>
                        <li>
                            <p>
                                <b>Personal Info: </b>By accepting the terms and conditions of this agreement you
                                represent and warrent
                                that all information that you have provided to triprhino is correct in all respects. You
                                furture
                                represent and warrant that you have the legal authority to accept the terms and
                                conditions of this
                                agreement. Triprhino app reserves its right, in its sole discretion, to refuse to
                                provide you with any
                                triprhino app's services.
                            </p>
                        </li>
                        <li>
                            <p>
                                <b>Email: </b>You must provide your Email in order to create a blog which will help us
                                recognize the
                                creator of the blog. Triprhino app shall be entitled to rely on information it receives
                                from you and may
                                assume that all such information was transmitted by or on behalf of you.
                            </p>
                        </li>
                        <li>
                            <p>
                                <b>Compliance with Law and triprhino app guidelines: </b>In connection with the exercise
                                of your rights
                                and obligations under this Agreement (including, without limitation, any related to
                                individual privacy),
                                you will all the current policies, procedures and guidelines of triprhino app governing
                                the triprhino
                                app's services. You shall not use the triprhino app's services in any manner, or in
                                furtherance of any
                                activity that may cause triprhino app to be subject to investigation, prosecution, or
                                legal action.
                            </p>
                        </li>
                        <li>
                            <p>
                                <b>Data Collection, Privacy and Security: </b>triprhino app will collect, retain, and
                                disclose
                                information and data collected from you in accordance with the Services Documentation.
                            </p>
                            <p>
                                We may periodically send promotional emails or text messages to your registered mode of
                                communtication
                                about new products and special offers.
                            </p>
                            <p>
                                We may also use your information to communicate you from time to time for market
                                research purpose. We
                                may use the information to customize the website / app according to your interests.
                            </p>
                            <p>
                                To contact you via phone, email and text messages to deliver certain services or
                                information you have
                                requested.
                            </p>
                        </li>
                    </ol>
                    <p>
                        <b>DISCLAIMER: </b>TRIPRHINO APP SERVICES ARE PROVIDED ON AN "AS IS," "AS AVAILABLE" BASIS
                        WITHOUT ANY
                        REPRESENTATIONS OR WARRANTIES. MAGIC LENS APP DOES NOT REPRESENT OR WARRANT THAT THE MAGIC LENS
                        APP SERVICES
                        WILL BE AVAILABLE, ACCESSIBLE, UNINTERRUPTED, TIMELY, SECURE, ACCURATE, COMPLETE, OR ENTIRELY
                        ERROR-FREE.
                        YOU MAY NOT RELY UPON ANY REPRESENTATION OR WARRANTY REGARDING THE MAGIC LENS APP SERVICES BY
                        ANY THIRD
                        PARTY IN CONTRAVENTION OF THE FOREGOING STATEMENTS. YOU UNDERSTAND AND AGREE THAT MAGIC LENS APP
                        IS FREE TO
                        USE AND DON"T USE THE APP UNAPPROPRIATELY THAT HARMS THE REPUTATION OF USER AND THE APP ITSELF.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>