<div class="custom-modal modal fade" id="loginRegisterModal" tabindex="-1" role="dialog"
    aria-labelledby="loginRegisterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="closeLoginModal" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="fa fa-sign-in-alt"></span> Sign In to Portal</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12" style="padding-bottom: 40px;">
                        <div>
                            <h3 style="text-align: center;">AUTHENTICATE</h3>
                        </div>
                        <div class="login-icons text-center">
                            <button class="loginBtn loginBtn--facebook">
                                Login with Facebook
                            </button>
                            <button class="loginBtn loginBtn--google">
                                Login with Google
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <p style="margin-bottom: 0px; text-align: center;">WE DON'T STORE PASSWORD. SO YOU ARE SAFE</p>
            </div>
        </div>
    </div>
</div>