<div class="col-sm-10">
    <div class="well">
        <h4>Dashboard</h4>
        <p class="sub-heading">ANALYTICS</p>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="well card-blue">
                <p>Total Orders</p>
                <h3>1500</h3>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="well card-green">
                <p>New Orders</p>
                <h3>21</h3>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="well card-yellow">
                <p>Cancelled Orders</p>
                <h3>5</h3>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="well card-orange">
                <p>Total Revenue</p>
                <h3>&#8377; 50000</h3>
            </div>
        </div>
    </div>
</div>