<nav class="navbar navbar-inverse visible-xs">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0);" routerLink="/dashboard">
                <font style="color: #525252;">Rocery</font>&nbsp;<font style="color: #ff6000;">Admin</font>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="javascript:void(0);" routerLink="/admin/dashboard"><span class="fa fa-chart-bar"
                            style="font-size: 14px;"></span>
                        &nbsp;&nbsp;Dashboard</a></li>
                <li><a href="javascript:void(0);" routerLink="/admin/inventory"><span class="fa fa-warehouse"></span>
                        &nbsp;&nbsp;Inventory</a></li>
                <li><a href="javascript:void(0);" routerLink="/admin/orders"><span class="fa fa-shopping-cart"></span>
                        &nbsp;&nbsp;Orders</a></li>
                <li><a href="javascript:void(0);" routerLink="/admin/places"><span class="fa fa-map-marked-alt"></span>
                        &nbsp;&nbsp;Places</a></li>
                <li><a href="javascript:void(0);" routerLink="/admin/localities"><span class="fa fa-map-marker-alt"
                            style="font-size: 16px;"></span>
                        &nbsp;&nbsp;Localities</a></li>
                <li><a href="javascript:void(0);" routerLink="/admin/landmarks"><span
                            class="fa fa-location-arrow"></span>
                        &nbsp;&nbsp;Landmark</a></li>
                <li><a href="javascript:void(0);" routerLink="/admin/lookups"><span class="fa fa-eye"></span>
                        &nbsp;&nbsp;Lookups</a></li>
                <li><a href="javascript:void(0);"><span class="fa fa-sign-out-alt"></span>
                        &nbsp;&nbsp;Sign Out</a></li>
            </ul>
        </div>
    </div>
</nav>